body{
    background-image: url(https://image.freepik.com/vector-gratis/tonos-azules-fondo-acuarela_91008-275.jpg);
    background-color: #6d8caa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    font-family: 'Oranienbaum', serif;}

a {text-decoration: none;}

.pie {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(99, 101, 241);
    font-size: 20px;
    padding: 20px;}
    
.footer {
    margin-top: 200px;
    text-align: center;
    font-size: 2em;
    background-color: ColorHeader;
    color: white;
    height: fit-content;}


#navbarScroll{
        display: inline-block;
        font-size: 25px;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 300px;
        margin-top: 0px;
        margin-bottom: 0px;}

#grey-main{
     display:inline-block;
     width: 80%;
     height: 80%;
    justify-content: center;
    margin-left: 150px;
    padding-bottom: 50px;
}

#carouselExampleFade{
    margin-left: 500px;
}

#descripcion-serie{
    margin: 20px;
}

#logo-ga{
    display: inline-block;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    padding-top: 0px;
    padding-left: 10px;
    margin-bottom: 50px;}

.card-text{
    width: 200px;
    align-items: center;
    margin-left: 0px;    
}

.btn btn-primary
{   width: 200px;
    align-items: center;}

#logo-ga:hover {
    transform: scale(1.1);}

.accordion-item{
    display: flex;}

.titulo-about{
    background-color: rgb(151, 179, 196);
    width: fit-content;
    height: fit-content;
    padding: 10px;}

.titulo-about-mas{
        background-color: rgb(151, 179, 196);
        width: fit-content;
        height: fit-content;
        padding: 10px;
        cursor: pointer;}
        
.titulo-about-mas:hover {
            transform: scale(1.1); }
        
.menu-paginas{
    display: inline-block;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 300px;
    margin-top: 0px;
    margin-bottom: 0px;}

.flex-container{
    display: flex;
    }

.box-footer{
    width: 100%;
    box-sizing: border-box;
}

h1 {font-size: 25px;
    color: #ca3f2e;
    text-align: right;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 0px;}

#menu-index {font-size: 25px;
    color: #ca3f2e;
    text-align: right;
    display: inline-block;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 550px;}

h2 {    color: #030303;
        text-align: right;
        display: inline-block;
        padding-top: 0px;
        
        padding-right: 10px;
        padding-left: 10px;}
h3{
    padding-left: 10px;}

.scrollspy-example{
    padding-left: 15px;
}    
ul li a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;}

ol li{
    line-height: 30px;}

#foto-shonda{
width: 500px;}

#foto-elenco{
    width: 500px;
    padding-right: 800px;}

.afiches{
    width: 200px;
    height: 200px;
    padding: 10px;}


li:hover {
    transform: scale(1.1);}

div{
    display: inline-block;
    padding-top: 10px;}

.flex-elenco{
display: flex;
justify-content: space-evenly;}

.flex-otrasSeries{
display: flex;
flex-direction: row;
justify-content: center;}

.descripcion-series{
display: flex;
margin-right: 0px;
padding-left: 10px;
padding-top: 0px;
text-decoration: none;}   

.flex-temporadas{
padding: 10px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;}


.flex-temporadas div{
width: 300px;
padding: 5px;
margin: 5px;
justify-content: space-evenly;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
align-content: center;}   



.card-img-top {
    width: 250px;
    height: 250px;
    margin-left: 15px;}


.grid-container{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);}

.grid-container div{
    padding: 10px;
    padding-left: 10px;}

.grid-protagonistas{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin-left: 150px;
    height: fit-content;
    }

.elenco-ga{
    display: flex;
    justify-content: space-evenly;}  

.nombres{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

#shonda{
    width: 400px;}

#shonda-elenco{
    width: 400px;}

.titulo-about{
    background-color: rgb(151, 179, 196);
    width: fit-content;
    height: fit-content;}

.personajes-principales{
    background-color: rgb(151, 179, 196);
    width: fit-content;
    height: fit-content;}

.protagonistas{
        background-color: rgb(151, 179, 196);
        width: fit-content;
        height: fit-content;
        margin: 100px;
        margin-top: 50px;
        margin-left: 550px;
        font-size: large;
    padding: 20px; }
       
.temporada{
    background-color: rgb(151, 179, 196);
    width: fit-content;
    height: fit-content;}

.actores{
    background-color: rgb(151, 179, 196);
    width: fit-content;
    height: fit-content;}

#elenco{
    margin-top: 60px;}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;}


@media (max-width:768px) {
    .header-container {
        flex-direction: column; }

    nav {
        flex-direction: column;
        justify-content: center;}
}